.chat-side{
  height: 100vh;
  width: 300px;
  background-color: #253141;
  font-weight: bold;
  color: #ffffff;

  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 20px;
      width: 260px;
      margin: 0 20px;

      &__username {
        font-size: 16px;
      }

      &__menu {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        li {
          a {
            color: white;
            .edit-user__btn {
              margin-right: 5px;
            }

          }

        }

      }

    }

  }

  .groups-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px;

    &__box {
      display: block;
      a {
        color: #ffffff;
        text-decoration: none;
      }

      &__group-name {
        font-size: 15px;
        padding: 20px 0 5px 0;
      }

      &__group-message {
        font-size: 11px;
        padding-bottom: 40px;
      }

    }

  }

}